.lang-menu li {
    display: block;
    text-decoration: none;
}

.lang-menu li a {
    display: block;
    padding: 14px;
    text-decoration: none;
}

.lang-menu li a:hover {
    outline: 0;
}

.lang-btn:hover {
    outline: 0;
}

/* menu */

.lang-menu {
    clear: both;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
    z-index: 1000;
    font-size: 12pt;
    position: absolute;
    right: 12px;
    top: 12px;
}

/* menu icon */

.lang-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    user-select: none;
    position: absolute;
    right: 12px;
    top: 12px;
    font-size: 12pt;
    z-index: 1000;
}

/* Close button */
.lang-close {
    background: #333;
    display: block;
    height: 4px;
    width: 25px;
    position: relative;
    transition: background .2s ease-out;
    transform: rotate(-45deg);
}

.lang-close:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    transform: rotate(90deg);
}

/* menu btn */
.lang-btn {
    display: none;
}

.lang-btn:checked ~ .lang-menu {
    max-height: 200px;
}
